.login-container {
    --background: #ebe7b4;
    display: flex;
    flex-direction: column;
    height: 100%;
}

.center-image-box {
    flex: 1;           
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo-box {
    width: 35%;
    height: auto;
    margin-top: 25%;
}

.logo-box img {
    width: 100%;
    height: auto;
}

.form-box {
    padding: 20px;
}

.rutas {
    margin-top: 25px;
    text-align: center;
}

.rutas p {
    margin: 10px 0;
    color: #105722;
    font-weight: 600;
    text-decoration: underline;
}

ion-item {
    --background: transparent; 
    --border-color: #a7263c;
    --border-width: 2px;
    --border-radius: 100px;
    margin-bottom: 15px;
}

h1 {
    padding-top: 3%;
    width: 100%;
    text-align: center;
    margin: 0 auto;
    font-weight: bold;
}
