<ion-content class="login-container" [scrollY]="false">

  <div class="login-wrapper ion-padding" [class.blur]="loading"> 
    
    <div class="logo-box">
      <img src="assets/img/bocaheader.png" alt="logo" class="logo-img">
    </div>

    <h1>¡Compra, acumula puntos y disfruta de beneficios exclusivos!</h1>

    <div class="form-box">

      <div class="input-group">
        <label for="email">Correo electrónico</label>
        <input 
          id="email"
          type="email" 
          placeholder="ejemplo@correo.com"
          [(ngModel)]="credentials.email" 
          class="native-input-style">
      </div>

      <div class="input-group">
        <label for="password">Contraseña</label>
        <input 
          id="password"
          type="password" 
          placeholder="********"
          [(ngModel)]="credentials.password" 
          class="native-input-style">
      </div>

      <ion-button expand="block" shape="round" class="login-btn" (click)="login()">
        INGRESAR
      </ion-button>

      <div class="rutas ion-text-center">
        <p (click)="irInvitado()">Continuar como invitado</p>
        <p (click)="irCrearCuenta()">¿No tienes cuenta? <b>Crear una</b></p>
      </div>

    </div>
  </div>

  <div class="loader-overlay" *ngIf="loading">
    <ng-lottie
      [options]="{
        path: 'assets/animations/animacioncargando.json',
        autoplay: true,
        loop: true
      }"
      style="width: 180px; height: 180px">
    </ng-lottie>
  </div>

</ion-content>