/* ---------------- Toolbar superior ---------------- */
ion-toolbar:first-of-type {
  --background: #802424;
  --color: #fff8f0;  
  padding: 8px 12px;    
}

.carrito {
  background: #193f15;    
  border-radius: 12px;    
  padding: 2px 12px;     

  ion-icon {
    color: #fff;
    font-size: 1.4rem;
  }
}

.categories-wrapper {
  display: flex;
  overflow-x: auto;
  padding: 10px;
  gap: 10px;
  -webkit-overflow-scrolling: touch;
  scrollbar-width: none;

  &::-webkit-scrollbar {
    display: none;
  }
}

.category {
  flex: 0 0 auto;
  padding: 10px 20px;
  background: #fff4e6;
  border-radius: 20px;
  font-weight: bold;
  cursor: pointer;
  white-space: nowrap;
  transition: all 0.2s ease-in-out;
  color: #641818;

  &:hover {
    background: #ff0000;
    transform: scale(1.05);
  }

  &.active {
    background: #832121;
    color: #fff8f0; 
    box-shadow: 0 2px 6px rgba(0,0,0,0.2);
  }
}

.productos-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(160px, 1fr));
  gap: 16px;
  padding: 16px;
}

/* ---------------- TARJETAS DE PRODUCTOS ---------------- */
.producto-card {
  background-color: #fff;
  border-radius: 12px;
  padding: 12px;
  box-shadow: 0px 3px 6px rgba(0,0,0,0.12);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  transition: transform 0.2s, box-shadow 0.2s;

  h3 {
    font-weight: bold;  /*ESTO PARA EL NOMBRE*/
    color: #802424;
    margin-bottom: 6px;
  }

  p {
    margin: 4px 0; /*ESTO PARA LA DESC*/
    color: #000000;
    font-weight: bold;
    font-size: 0.9rem;

    &:last-child {  /*ESTO PARA El precio*/
      color: #d32f2f;
      font-weight: bold;
      font-size: 1rem;
    }
  }
}

ion-content {
  --background: #ebe7b4;
}

