ion-content {
  --background: #f9f5ef;
}

.form-box {
  padding: 20px;
}

ion-item {
  --background: white;
  --border-radius: 15px;
  margin-bottom: 15px;
}

ion-select {
  width: 100%;
}

ion-button {
  margin-top: 10px;
}
