<ion-content class="ion-padding">
  <ion-list>
    <ion-list-header>
      <ion-label>Pizzas Clásicas</ion-label>
    </ion-list-header>

    <ion-item>
      <ion-label>
        <h2>Napolitana</h2>
        <p>Queso, tomate, orégano</p>
      </ion-label>
      <ion-note slot="end">$10.000</ion-note>
    </ion-item>

    <ion-item>
      <ion-label>
        <h2>Pepperoni</h2>
        <p>Doble pepperoni</p>
      </ion-label>
      <ion-note slot="end">$12.000</ion-note>
    </ion-item>
  </ion-list>
</ion-content>