<ion-header>
  <ion-toolbar color="danger">
    <ion-title>404 - Página no encontrada</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding" fullscreen>
  <div style="text-align:center; margin-top: 50px;">
    <h1 style="font-size: 80px; color:#d32f2f;">😅</h1>
    <h2>Página no encontrada</h2>
    <p>La URL que intentas abrir no existe.</p>
    <ion-button routerLink="/home" expand="block" color="danger" style="margin-top:20px;">
      Volver al inicio
    </ion-button>
  </div>
</ion-content>
