.error-container {
  text-align: center;
  margin-top: 50px;
}

.error-animation {
  width: 100%;
  height: auto;
  max-width: 100%;
  display: block; /* Evita márgenes extra de la animación */
  margin: 0 auto;
}

h2 {
  margin-top: 20px;
}

p {
  margin-top: 10px;
}

ion-button {
  margin-top: 20px;
}
