<ion-header>
  <ion-toolbar color="danger">
    <ion-title>404 - Página no encontrada</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen>
  <div class="error-container">
    <ng-lottie [options]="{
        path: 'assets/animations/404.json',
        autoplay: true,
        loop: true
      }" class="error-animation">
    </ng-lottie>
    <h2>Página no encontrada</h2>
    <p>La URL que intentas abrir no existe.</p>
    <ion-button expand="block" color="danger" style="margin-top:20px;" (click)="volverInicio()">
      Volver al inicio
    </ion-button>

  </div>
</ion-content>